<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <property name="LOG_PATTERN"
             value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n" />

    <property name="LOG_LEVEL" value="INFO"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${LOG_LEVEL}</level>
        </filter>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
